torch
openai-whisper
opencv-python
transformers
sentencepiece
accelerate
typer[all]
imageio-ffmpeg
yt-dlp
yt-dlp[extractors]
browser-cookie3
rich
ffmpeg-python
nltk
semantic_text_splitter
tokenizers
weasyprint
requests
secretstorage
tensorboard
